* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #ededed;
  font-family: "Lato", sans-serif;
  line-height: 1.6em;
  color: #333;
  max-width: 700px;
  margin: 0 auto; }

h1 {
  color: #2abbae;
  margin-bottom: 20px; }

h2 {
  margin-bottom: 10px; }

p {
  margin-bottom: 20px; }
  p:last-child {
    margin-bottom: 0; }

a {
  color: #2abbae; }
  a:hover {
    color: grey;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s; }

code.inline {
  border: solid 1px #dbdbdb;
  padding: 4px 4px 1px;
  background: #ffffff;
  font-size: 14px;
  border-radius: 3px; }

header {
  background: #2abbae;
  padding: 20px;
  margin-bottom: 20px; }
  header h1 {
    color: #fff;
    margin: 0; }

.hlt {
  background: #95ddd7;
  margin-bottom: 20px;
  padding: 20px; }
