$font-body: 'Lato', sans-serif;

$color-main: #2abbae;
$color-dark: #333;

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #ededed;
	font-family: $font-body;
    line-height: 1.6em;
    color: $color-dark;
    max-width: 700px;
    margin: 0 auto;
}


// ----- COMMON STYLES

h1 {
    color: $color-main;
    margin-bottom: 20px;
}
h2 {
    margin-bottom: 10px;
}
p {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}
a {
	color: $color-main;

    &:hover {
        color: grey;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }
}
code.inline {
    border: solid 1px #dbdbdb;
    padding: 4px 4px 1px;
    background: #ffffff;
    font-size: 14px;
    border-radius: 3px;
}

// ----- LAYOUT

header {
    background: $color-main;
    padding: 20px;
    margin-bottom: 20px;

    h1 {
        color: #fff;
        margin: 0;
    }
}
.hlt {
    background: tint($color-main, 50%);
    margin-bottom: 20px;
    padding: 20px;
}